.contacts
	&__list
		margin-bottom: 20px

.feedback
	&__title
		margin-bottom: 20px
	form 
		margin: 0 auto
		width: 40%
		input, textarea
			background-color: #eee
			border 1px solid #ccc
			border-radius: 5px
			color: main-color
			margin-bottom: 10px
			padding: 10px 5px
			text-transform: uppercase
			width: 100%
			&:focus 
				background-color: #ffffff
				border-color: #ffba26
				outline: none
			&::-webkit-input-placeholder
				color: #b9b9b9
		textarea
			height: 100px
		.btn-submit
			display: block
			margin: 10px auto 0