.signin-form
	background-color: rgba(186, 186, 173, 1)
	border-radius: 10px
	margin: auto
	padding: 25px
	height: 250px
	width: 300px
	opacity: 1
	input 
		border: none
		border-radius: 10px
		font-size: 18px
		margin-bottom: 10px
		padding: 10px
		width: 100%
		&:nth-of-type(2)
			margin-bottom: 20px
	button 
		background-color #efe778
		border: 1px solid transparent
		border-radius: 10px
		color: main-color
		cursor: pointer
		margin-right: 15px
		margin-bottom: 10px
		padding: 12px 0
		width: 100%
		transition: .2s
		&:nth-of-type(2)
			margin-bottom: 0
		
		&:hover 
			background-color transparent
			border: 1px solid #efe778
			color: #efe778
		
	
	


