.about
	background-color: rgba(186, 186, 173, .6)
	border-radius: 10px
	box-shadow box-shadow
	//padding: 7% 15% 9%
	&__greet
		color: h-color
		font-size: 35px
		margin-bottom: 25px
	&__text
		color: main-color
		font-size: 20px
		line-height: 35px
	video 
		height: 400px
